<p>profile-page works!</p>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<!-- Ændre addresse -->

<!-- Hvis brugeres nuværende addresser -->
<h2>Brugerens addresser</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Address</th>
        <th>zipCode</th>
        <th>cityName</th>
    </tr>
    <tr *ngFor="let address of addresses">
        <td>{{ address.id }}</td>
        <td>{{ address.address }}</td>
        <td>{{ address.zipCode }}</td>
        <td>{{ address.cityName }}</td>
    </tr>
</table>

<!-- Ændre password -->


<!-- Hvis list med ordrenumre -->